<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <h1>About This Site</h1><br>
          <p>This site was created using the MEAN web development stack.</p><br>
          <h4>COMP 584</h4>
          <h4>Prof. Wang</h4><br>
          <h3>Group 3</h3>
          <ul class="list-group">
            <li class="list-group-item">Ryan Vitacion</li>
            <li class="list-group-item">Gerardo Rodriguez</li>
            <li class="list-group-item">Patrick Perez</li>
            <li class="list-group-item">Vrezh Gulyan</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
