<div class="jumbotron">
  <h1>Stanley Lau</h1>
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel">
        <div class="panel-body">
          <h2>Artist Bio</h2>
          <img src="../images/slau.png">
          <div class="well">
            Formally trained in graphic design and advertising, Stanley’s art is imbued with a strong sense of aesthetics and visual fluidity. It is a perfect blend of eastern and western art styles. Better known by his handle Artgerm, Stanley’s art continues to infect and inspire new generations of artists and his ever-growing fan base around the world. To this date, Stanley’s online art gallery on deviantART has been viewed for more than 50 million times and has 500,000 active followers around the world.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel">
        <div class="panel-body">
          <h2>Sample Work</h2><br>
          <div class="row">
            <div class="col-md-6">
              <div class="well">
                <div class="thumbnail">
                  <img src="../images/1.jpg" style="height:40vh">
                </div>
                <div class="caption">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#picModal1">"Mercy", Digital, 2016</button>
                  <div id="picModal1" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">"Mercy", Digital, 2016</h4>
                        </div>
                        <div class="modal-body">
                          <img src="../images/1.jpg">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="well">
                <div class="thumbnail">
                  <img src="../images/2.jpg" style="height:40vh">
                </div>
                <div class="caption">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#picModal2">"Kylo Ren Portrait", Charcoal, 2015</button>
                  <div id="picModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">"Kylo Ren Portrait", Charcoal, 2015</h4>
                        </div>
                        <div class="modal-body">
                          <img src="../images/2.jpg">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="well">
                <div class="thumbnail">
                  <img src="../images/3.jpg" style="height:40vh">
                </div>
                <div class="caption">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#picModal3">"Mother of Dragons", Digital, 2013</button>
                  <div id="picModal3" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">"Mother of Dragons", Digital, 2013</h4>
                        </div>
                        <div class="modal-body">
                          <img src="../images/3.jpg">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="well">
                <div class="thumbnail">
                  <img src="../images/4.jpg" style="height:40vh">
                </div>
                <div class="caption">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#picModal4">"Hanzo", Digital, 2016</button>
                  <div id="picModal4" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">"Hanzo", Digital, 2016</h4>
                        </div>
                        <div class="modal-body">
                          <img src="../images/4.jpg">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel">
        <div class="panel-body">
          <h2>Support This Artist</h2><br>
          <div class="well">
            <div class="row">
              <div class="col-sm-4">
                <a href="/stanleylau/purchase" role="button" class="btn btn-primary" style="display: block; margin: 2px auto;">Purchase a Work</a>
              </div>
              <div class="col-sm-4">
                  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#chatModal" style="display: block; margin: 2px auto">Live Chat</button>
                  <div id="chatModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Live Chat</h4>
                        </div>
                        <div class="modal-body">
                          <div class="well">
                            <h5 style="color: #0072bc">Connected to live chat!</h5>
                            <ul id="messages" style="list-style-type: none"></ul>
                          </div>
                          <div class="well">
                            <form class="form-horizontal" action="">
                              <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="name" class="form-control" id="n" autocomplete="off" />
                              </div>
                              <div class="form-group">
                                <label for="msg">Message:</label>
                                <input type="msg" class="form-control" id="m" autocomplete="off" />
                              </div>
                              <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="col-sm-4">
                <a href="/stanleylau/social" role="button" class="btn btn-primary" style="display: block; margin: 2px auto">Artist Twitter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/lib/jquery.js"></script>
<script>
$(function () {
  var socket = io();
  $('form').submit(function(){
    socket.emit('chat message', [$('#n').val(), $('#m').val()]);
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').html("<b>" + msg[0] + ":  </b>" + msg[1]));
  });
});
</script>
