<div class="jumbotron">
  <h1>Stanley Lau</h1>
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel">
        <div class="panel-body">
          <h2>Artist Bio</h2>
          <img src="../images/slau.png">
          <div class="well">
            Formally trained in graphic design and advertising, Stanley’s art is imbued with a strong sense of aesthetics and visual fluidity. It is a perfect blend of eastern and western art styles. Better known by his handle Artgerm, Stanley’s art continues to infect and inspire new generations of artists and his ever-growing fan base around the world. To this date, Stanley’s online art gallery on deviantART has been viewed for more than 50 million times and has 500,000 active followers around the world.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel">
        <div class="panel-body">
          <h2>Sample Work</h2><br>
          <div class="row">
            <div class="col-md-6">
              <div class="thumbnail">
                <img src="../images/1.jpg" style="height:60vh">
                <div class="caption">
                  <h4>"Mercy", Digital, 2016</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <img src="../images/2.jpg" style="height:60vh">
                <div class="caption">
                  <h4>"Kylo Ren Portrait", Charcoal, 2015</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="thumbnail">
                <img src="../images/3.jpg" style="height:60vh">
                <div class="caption">
                  <h4>"Mother of Dragons", Digital, 2013</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                <img src="../images/4.jpg" style="height:60vh">
                <div class="caption">
                  <h4>"Hanzo", Digital, 2016</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel">
        <div class="panel-body">
          <h2>Support This Artist</h2><br>
          <div class="well">
            <div class="row">
              <div class="col-sm-4">
                <a href="/purchase" role="button" class="btn btn-primary" style="display: block; margin: 2px auto;">Purchase a Work</a>
              </div>
              <div class="col-sm-4">
                <a href="/stanleylau" role="button" class="btn btn-primary" style="display: block; margin: 2px auto">Commision a Work</a>
              </div>
              <div class="col-sm-4">
                <a href="/social" role="button" class="btn btn-primary" style="display: block; margin: 2px auto">Artist Twitter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
